@charset "UTF-8";
:root {
  --m-bcg-col: #fff;
  --alt-bcg-col: #f5f4fa;
  --whatwedo-bcg-col: rgba(47, 48, 58, 0.8);
  --f-bcg-col: #2f303a;
  --m-col: #212121;
  --alt-col: #757575;
  --acc-col: #2196f3;
  --logo-h-col: #000000;
  --logo-f-col: #fff;
  --hero-col: #fff;
  --btn-alt-col: #fff;
  --btn-hover-bcg-col: #188ce8;
  --foot-alph-col: rgba(255, 255, 255, 0.6);
  --card-bcg-col: #fff;
  --card-border-col: #eee;
  --card-over-bcg-col: rgba(33, 150, 243, 0.9);
  --header-border-col: #ececec;
  --icon-fill: #afb1b8;
  --backdrop-bcg-col: rgba(0, 0, 0, 0.2);
  --modal-border-col: rgba(33, 33, 33, 0.2);
  --modal-plhold-col: rgba(117, 117, 117, 0.5);
  --join-us-bcg-col: rgba(255, 255, 255, 0.3);
}

.link,
.btn,
.filter-list__item,
.card {
  transition-property: color, background-color, box-shadow, fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--m-col);
  background-color: var(--m-bcg-col);
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--m-col);
}

.contact-form__checkbox_visually-hiden, .filter-title_visually-hiden, .abilities__title_visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border-col);
}
.header .container,
.header .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts .contacts__mail,
.contacts .contacts__tel {
  display: flex;
  align-items: center;
  color: var(--alt-col);
  fill: var(--alt-col);
}

.link:hover .contacts__icon,
.link:focus .contacts__icon {
  fill: var(--acc-col);
}

.link_active-page {
  color: var(--acc-col);
  position: relative;
}
.link_active-page::after {
  display: block;
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--acc-col);
  border-radius: 2px;
  content: "";
}

.header__nav {
  display: flex;
}

.contacts > :not(:last-child), .navigation > :not(:last-child) {
  margin-right: 50px;
}

.navigation__item .link,
.contacts__item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__icon {
  margin-right: 10px;
}

.logo {
  display: flex;
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  align-items: center;
}

.header__logo {
  color: var(--logo-h-col);
}

.logo__acc {
  color: var(--acc-col);
}

.footer__logo {
  margin-bottom: 20px;
}

.hero {
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-col);
  background-color: var(--f-bcg-col);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero.jpg);
  background-size: cover;
  text-align: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  min-width: 216px;
}

/* all button */
.btn {
  padding: 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--hero-col);
  background-color: var(--acc-col);
  text-align: center;
  letter-spacing: 0.06em;
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover-bcg-col);
  cursor: pointer;
}

.abilities .list {
  display: flex;
}

.abilities__list-item {
  display: block;
  width: 270px;
}
.abilities__list-item:not(:last-child) {
  margin-right: 30px;
}

.abilities__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.abilities__descr {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--alt-col);
}

.abilities__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--alt-bcg-col);
}

.services {
  padding-top: 0;
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;
}
.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__descr-box {
  width: 100%;
  height: 70px;
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  color: var(--hero-col);
  background-color: var(--whatwedo-bcg-col);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.staff {
  background-color: var(--alt-bcg-col);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff__item {
  display: block;
  width: 270px;
  padding-bottom: 30px;
  background-color: var(--m-bcg-col);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.staff__list {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}

.staff__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.staff__position {
  margin-bottom: 16px;
  color: var(--alt-col);
  line-height: 1.19;
}

.staff__social-media-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.staff__social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff__social-media-link, .social-netw__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  fill: var(--icon-fill);
}
.staff__social-media-link:hover, .social-netw__link:hover, .staff__social-media-link:focus, .social-netw__link:focus {
  background-color: var(--acc-col);
  fill: var(--btn-alt-col);
}

.staff__social-media-icon {
  display: block;
}

.customers__list {
  display: flex;
  gap: 30px;
}

.customers__item {
  width: 170px;
  height: 92px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 5px;
}
.customers__link:hover, .customers__link:focus {
  fill: var(--acc-col);
  border: 1px solid var(--acc-col);
}

.customers__logo {
  display: block;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--f-bcg-col);
}

.footer .container {
  display: flex;
}

.footer__title {
  display: block;
  color: var(--logo-f-col);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}

.link:hover, .link:focus {
  color: var(--acc-col);
}

.address-info__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__logo,
.address-info__data {
  color: var(--logo-f-col);
}

.address-info__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-info__data_contact {
  color: var(--foot-alph-col);
}

.social-netw {
  padding-top: 15px;
  margin-left: 70px;
  color: var(--logo-f-col);
}

.social-netw__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-netw__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-netw__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-netw__icon {
  fill: var(--logo-f-col);
}

.newsletter {
  width: 570px;
  padding-top: 15px;
  margin-left: 93px;
}

.newsletter__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--join-us-bcg-col);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
}
.newsletter__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--foot-alph-col);
}

.newsletter__box {
  display: flex;
  gap: 12px;
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
}

.newsletter__icon {
  margin-left: 10px;
}

.filter-list {
  display: flex;
  flex-basis: 575px;
  margin-bottom: 50px;
  column-gap: 8px;
  justify-content: center;
}

.filter-list__item {
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--alt-bcg-col);
  color: var(--m-col);
  border: none;
  border-radius: 4px;
}
.filter-list__item:hover, .filter-list__item:focus {
  background-color: var(--acc-col);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--btn-alt-col);
  cursor: pointer;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.card {
  background-color: var(--card-bcg-col);
}
.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover, .card__link:focus {
  color: inherit;
}
.card__link:hover .card__overlay,
.card__link:hover .card__overlay, .card__link:focus .card__overlay,
.card__link:focus .card__overlay {
  transform: translate(0, 0);
}

.card__description {
  padding: 20px 24px;
  border: 1px solid var(--card-border-col);
  border-top: none;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--alt-col);
}

.card__box {
  overflow: hidden;
  position: relative;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  background-color: var(--card-over-bcg-col);
  color: var(--hero-col);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translate(0, 100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  background-color: var(--backdrop-bcg-col);
}

.backdrop_is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(-100%);
}

.modal {
  width: 528px;
  height: 581px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-bcg-col);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: var(--card-bcg-col);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  fill: var(--acc-col);
}

.close-button__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.contact-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.contact-form__input-label {
  margin-bottom: 4px;
  color: var(--alt-col);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form__input-icon {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.contact-form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  outline: none;
  border: 1px solid var(--modal-border-col);
  border-radius: 4px;
  font-size: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  border-color: var(--acc-col);
}
.contact-form__input:focus + .contact-form__svg {
  fill: var(--acc-col);
}

.contact-form__textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 16px 12px;
  outline: none;
  border: 1px solid var(--modal-border-col);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__textarea:focus {
  border-color: var(--acc-col);
}
.contact-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--modal-plhold-col);
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--alt-col);
}
.contact-form__checkbox-label .terms {
  color: var(--acc-col);
}

.contact-form__fake-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--m-col);
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__fake-checkbox:hover {
  cursor: pointer;
}

.contact-form__checkbox:checked + .contact-form__fake-checkbox {
  background-color: var(--acc-col);
  border-color: transparent;
  background-image: url(../imagies/svgicons/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.contact-form__checkbox:focus + .contact-form__fake-checkbox {
  border-color: var(--acc-col);
}

.contact-form__submit {
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Палитра

main    bcg-color: #fff;
alt     bcg-color: #F5F4FA;
footer  bcg-color: #2F303A;
card    bcg-color: #fff;

main    color: #212121;
alt     color: #757575;
accent  color: #2196F3;

logo    color: #000000;
               #2196F3;
               #FFFFFF;

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*//*# sourceMappingURL=main.css.map */