@charset "UTF-8";
:root {
  --m-bcg-col: #fff;
  --alt-bcg-col: #f5f4fa;
  --whatwedo-bcg-col: rgba(47, 48, 58, 0.8);
  --f-bcg-col: #2f303a;
  --m-col: #212121;
  --alt-col: #757575;
  --acc-col: #2196f3;
  --logo-h-col: #000000;
  --logo-f-col: #fff;
  --hero-col: #fff;
  --btn-alt-col: #fff;
  --btn-hover-bcg-col: #188ce8;
  --foot-alph-col: rgba(255, 255, 255, 0.6);
  --card-bcg-col: #fff;
  --card-border-col: #eee;
  --card-over-bcg-col: rgba(33, 150, 243, 0.9);
  --header-border-col: #ececec;
  --icon-fill: #afb1b8;
  --backdrop-bcg-col: rgba(0, 0, 0, 0.2);
  --modal-border-col: rgba(33, 33, 33, 0.2);
  --modal-plhold-col: rgba(117, 117, 117, 0.5);
  --join-us-bcg-col: rgba(255, 255, 255, 0.3);
}

.contact-form__submit, .contact-form__fake-checkbox, .close-button, .card__overlay, .newsletter__btn, .link, .customers__link, .staff__social-media-link, .social-netw__link, .hero__btn, .modal-menu__close-button, .modal-menu, .contacts__icon, .header__contact-link {
  transition-property: transform, color, background-color, box-shadow, fill, border, border-color, opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  html,
body {
    overflow-x: hiden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--m-col);
  background-color: var(--m-bcg-col);
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--m-col);
}

button {
  line-height: 0px;
  border: none;
  background: none;
  padding: 0px;
}

.contact-form__checkbox_visually-hiden, .filter-title_visually-hiden, .abilities__title_visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section__title {
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.header {
  width: 100%;
  border-bottom: 1px solid var(--header-border-col);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__contact-link {
  display: flex;
  align-items: center;
}
.header__contact-link:hover .contacts__icon, .header__contact-link:focus .contacts__icon {
  fill: var(--acc-col);
}

.contacts__icon {
  line-height: 0px;
}

.contacts__tel,
.contacts__mail {
  color: var(--alt-col);
  fill: var(--alt-col);
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    height: 60px;
    padding: 10px 0px;
  }
  .header__container {
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .navigation {
    display: none;
  }
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding-top: 21px;
  }
  .burger-menu-button {
    display: none;
  }
  .header__nav {
    display: flex;
  }
  .header__navigation {
    display: flex;
    align-items: center;
    margin-left: 87px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  .navigation__item {
    display: block;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .link_active-page {
    color: var(--acc-col);
    position: relative;
  }
  .link_active-page::after {
    display: block;
    position: absolute;
    bottom: -31px;
    width: 100%;
    height: 4px;
    background-color: var(--acc-col);
    border-radius: 2px;
    content: "";
  }
  .contacts {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__tel {
    display: flex;
    align-items: center;
  }
  .icon-envelope_tablet {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .icon-smartphone_tablet {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    line-height: 1.1714285714;
    letter-spacing: 0.02em;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .icon-envelope_tablet {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .icon-smartphone_tablet {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  text-decoration: none;
  align-items: center;
}

.header__logo {
  color: var(--logo-h-col);
}

.logo__acc {
  color: var(--acc-col);
}

.footer__logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.1741666667;
  }
  .footer__logo {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.3830769231;
  }
}
.modal-menu {
  opacity: 0;
  visibility: hidden;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-top: auto;
  background-color: var(--m-bcg-col);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}
.modal-menu .contacts,
.modal-menu .navigation_modal-menu {
  display: block;
}

.is-open.modal-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 48px 40px;
  width: 100vw;
  height: 100%;
}

.modal-menu__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal-menu__close-button:hover, .modal-menu__close-button:focus {
  fill: var(--acc-col);
}

.navigation_modal-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: left;
  letter-spacing: 0.02em;
}

.navigation__item_modal {
  margin-bottom: 32px;
}
.navigation__item_modal:last-child {
  margin-bottom: auto;
}

.contacts__item_mobile {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}
.contacts__item_mobile:last-child {
  margin-bottom: 64px;
}

.contacts__tel_acc {
  color: var(--acc-col);
}

.modal-menu__social-network-list {
  display: flex;
  flex-wrap: wrap;
}

.modal-menu__social-network-item {
  padding: 0px 10px;
  margin-bottom: 10px;
}
.modal-menu__social-network-item:first-child {
  padding-left: 0px;
}
.modal-menu__social-network-item:last-child {
  padding-right: 0px;
}
.modal-menu__social-network-item:not(:last-child) {
  border-right: 1px solid var(--modal-border-col);
}

.modal-menu__social-network-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--acc-col);
}

.hero {
  width: 100%;
  max-width: 480px;
  padding: 118px 60px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-col);
  background-color: var(--f-bcg-col);
  background-size: cover;
  text-align: center;
}

.hero__title {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6153846154;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 24px;
}

@media screen and (max-width: 320px) {
  .hero__btn {
    word-wrap: break-word;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero-480.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imagies/hero/hero-480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imagies/hero/hero-768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imagies/hero/hero-1600@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 100%;
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}
/* all button */
.btn {
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--hero-col);
  background-color: var(--acc-col);
  text-align: center;
  letter-spacing: 0.06em;
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover-bcg-col);
  cursor: pointer;
}

.abilities__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--alt-bcg-col);
}

.abilities__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.abilities__descr {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--alt-col);
}

@media screen and (max-width: 767px) {
  .abilities__title {
    text-align: center;
  }
  .abilities__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .abilities__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .abilities__list-item {
    display: block;
    width: 354px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .abilities__list-item {
    width: 270px;
  }
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .services {
    padding-top: 0;
  }
  .services__list {
    display: flex;
  }
  .services__item {
    position: relative;
  }
  .services__item:not(:last-child) {
    margin-right: 30px;
  }
  .services__descr-box {
    width: 100%;
    height: 70px;
    padding: 27px 0;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    color: var(--hero-col);
    background-color: var(--whatwedo-bcg-col);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.staff {
  background-color: var(--alt-bcg-col);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff__item {
  display: block;
  width: 100%;
  padding-bottom: 24px;
  background-color: var(--m-bcg-col);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.staff__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.staff__position {
  margin-bottom: 16px;
  color: var(--alt-col);
  font-size: 16px;
  line-height: 1.1875;
}

.staff__social-media-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.staff__social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff__social-media-link, .social-netw__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  fill: var(--icon-fill);
}
.staff__social-media-link:hover, .social-netw__link:hover, .staff__social-media-link:focus, .social-netw__link:focus {
  background-color: var(--acc-col);
  fill: var(--btn-alt-col);
}

.staff__social-media-icon {
  display: block;
}

@media screen and (max-width: 767px) {
  .staff__item {
    max-width: 450px;
  }
  .staff__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .staff__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .staff__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .staff__item {
    max-width: 270px;
    padding-bottom: 30px;
  }
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 5px;
}
.customers__link:hover, .customers__link:focus {
  fill: var(--acc-col);
  border: 1px solid var(--acc-col);
}

.customers__logo {
  display: block;
}

@media screen and (max-width: 767px) {
  .customers__item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    height: 92px;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--f-bcg-col);
  text-align: center;
}

.footer__title {
  display: block;
  color: var(--logo-f-col);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0px 0px;
  }
}
.link:hover, .link:focus {
  color: var(--acc-col);
}

.footer__logo,
.address-info__data {
  color: var(--logo-f-col);
}

.address-info__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-info__data_contact {
  color: var(--foot-alph-col);
}

@media screen and (max-width: 767px) {
  .address-info {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .address-info__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address-info {
    width: 231px;
  }
  .address-info__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.social-netw {
  color: var(--logo-f-col);
}

.social-netw__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-netw__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-netw__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-netw__icon {
  fill: var(--logo-f-col);
}

@media screen and (max-width: 767px) {
  .social-netw {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social-netw {
    padding-top: 15px;
    margin-left: 70px;
    color: var(--logo-f-col);
  }
}
.newsletter__input {
  padding: 15px 16px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--join-us-bcg-col);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
}
.newsletter__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--foot-alph-col);
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__icon {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .newsletter {
    width: 100%;
    max-width: 450px;
  }
  .newsletter__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter {
    padding-top: 15px;
    margin-left: 93px;
    width: 570px;
  }
  .newsletter__box {
    display: flex;
    gap: 12px;
  }
  .newsletter__input {
    width: 358px;
  }
}
.filter-list {
  display: flex;
}

.filter-list__item {
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--alt-bcg-col);
  color: var(--m-col);
  border: none;
  border-radius: 4px;
}
.filter-list__item:hover, .filter-list__item:focus {
  background-color: var(--acc-col);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--btn-alt-col);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    gap: 8px;
    margin-bottom: 50px;
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: var(--card-bcg-col);
}
.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover, .card__link:focus {
  color: inherit;
}
.card__link:hover .card__overlay,
.card__link:hover .card__overlay, .card__link:focus .card__overlay,
.card__link:focus .card__overlay {
  transform: translate(0, 0);
}

.card__description {
  padding: 20px 24px;
  border: 1px solid var(--card-border-col);
  border-top: none;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--alt-col);
}

.card__box {
  overflow: hidden;
  position: relative;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--card-over-bcg-col);
  color: var(--hero-col);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translate(0, 100%);
}

@media screen and (max-width: 767px) {
  .card-list__item {
    width: 100%;
    max-width: 450px;
    max-height: 404px;
  }
  .card__overlay {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list__item {
    width: 354px;
    height: 440px;
  }
  .card__overlay {
    padding: 49px 24px;
  }
  .card__description {
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    width: 370px;
    height: 404px;
  }
  .card__overlay {
    padding: 63px 24px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  background-color: var(--backdrop-bcg-col);
}

.backdrop_is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(-100%);
}

.modal {
  width: 528px;
  height: 581px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-bcg-col);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-active-page {
  color: var(--acc-col);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
    height: 609px;
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: var(--card-bcg-col);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  fill: var(--acc-col);
}

.close-button__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.contact-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.contact-form__input-label {
  margin-bottom: 4px;
  color: var(--alt-col);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form__input-icon {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.contact-form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  outline: none;
  border: 1px solid var(--modal-border-col);
  border-radius: 4px;
  font-size: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  border-color: var(--acc-col);
}
.contact-form__input:focus + .contact-form__svg {
  fill: var(--acc-col);
}

.contact-form__textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 16px 12px;
  outline: none;
  border: 1px solid var(--modal-border-col);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__textarea:focus {
  border-color: var(--acc-col);
}
.contact-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--modal-plhold-col);
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--alt-col);
}
.contact-form__checkbox-label .terms {
  color: var(--acc-col);
}

.contact-form__fake-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--m-col);
  border-radius: 2px;
}
.contact-form__fake-checkbox:hover {
  cursor: pointer;
}

.contact-form__checkbox:checked + .contact-form__fake-checkbox {
  background-color: var(--acc-col);
  border-color: transparent;
  background-image: url(../imagies/svgicons/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.contact-form__checkbox:focus + .contact-form__fake-checkbox {
  border-color: var(--acc-col);
}

.contact-form__submit {
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .contact-form__checkbox-label {
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .contact-form__textarea::placeholder {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
/* Палитра

main    bcg-color: #fff;
alt     bcg-color: #F5F4FA;
footer  bcg-color: #2F303A;
card    bcg-color: #fff;

main    color: #212121;
alt     color: #757575;
accent  color: #2196F3;

logo    color: #000000;
               #2196F3;
               #FFFFFF;

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*//*# sourceMappingURL=main.css.map */