.abilities__title_visually-hiden {
  @extend %visually-hiden;
}

.abilities__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--alt-bcg-col);
}

.abilities__title {
  margin-bottom: 10px;

  @include font-line(14px, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.abilities__descr {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--alt-col);
}

// Mobile
@media screen and (max-width: 767px) {
  .abilities__title {
    text-align: center;
  }
  .abilities__list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .abilities__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .abilities__list-item {
    display: block;
    width: 354px;

    margin-bottom: 0px;
  }
}

// Desktop

@media screen and (min-width: 1200px) {
  .abilities__list-item {
    width: 270px;
  }
}

// .abilities {
//   .list {
//     display: flex;
//   }
// }

// .abilities__list-item {
//   display: block;
//   width: 270px;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
