.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: var(--card-bcg-col);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__link {
  &:hover,
  &:focus {
    color: inherit;

    .card__overlay,
    .card__overlay {
      transform: translate(0, 0);
    }
  }
}

.card__description {
  padding: 20px 24px;
  border: 1px solid var(--card-border-col);
  border-top: none;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--alt-col);
}

.card__box {
  overflow: hidden;
  position: relative;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: var(--card-over-bcg-col);
  color: var(--hero-col);

  @include font-line(18px, 28px);

  letter-spacing: 0.03em;
  overflow: auto;

  transform: translate(0, 100%);
  @extend %animation;
}

// mobile

@media screen and (max-width: 767px) {
  .card-list__item {
    width: 100%;
    max-width: 450px;
    max-height: 404px;
  }

  .card__overlay {
    padding: 77px 24px;
  }
}

//Tablet

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list__item {
    width: 354px;
    height: 440px;
  }

  .card__overlay {
    padding: 49px 24px;
  }

  .card__description {
    height: 146px;
  }
}

//Desktop

@media screen and (min-width: 1200px) {
  .card-list__item {
    width: 370px;
    height: 404px;
  }
  .card__overlay {
    padding: 63px 24px;
  }
}
