.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  fill: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 5px;

  &:hover,
  &:focus {
    fill: var(--acc-col);
    border: 1px solid var(--acc-col);
  }

  @extend %animation;
}

.customers__logo {
  display: block;
}

// mobile
@media screen and (max-width: 767px) {
  .customers__item {
    width: 210px;
    height: 92px;
  }
}

// Tablet
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
    height: 92px;
  }
}

// Desktop

@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    height: 92px;
  }
}
