// header logo
.logo {
  display: flex;

  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  align-items: center;
}

.header__logo {
  color: var(--logo-h-col);
}

.logo__acc {
  color: var(--acc-col);
}

.footer__logo {
  margin-bottom: 20px;
}
