.modal-menu {
  opacity: 0;
  visibility: hidden;

  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 1000;
  pointer-events: none;

  height: 100vh;
  width: 100vw;

  margin-left: auto;
  margin-top: auto;

  background-color: var(--m-bcg-col);

  @extend %animation;

  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  .contacts,
  .navigation_modal-menu {
    display: block;
  }
}

.is-open {
  &.modal-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.modal-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  padding: 48px 40px;
  width: 100vw;
  height: 100%;
}

.modal-menu__close-button {
  position: absolute;
  top: 15px;
  right: 15px;

  @extend %animation;

  &:hover,
  &:focus {
    fill: var(--acc-col);
  }
}

.navigation_modal-menu {
  font-weight: 500;
  @include font-line(40px, 47px);
  text-align: left;
  letter-spacing: 0.02em;
}

.navigation__item_modal {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: auto;
  }
}

.contacts__item_mobile {
  margin-bottom: 32px;

  font-weight: 500;
  @include font-line(24px, 28px);
  letter-spacing: 0.02em;

  &:last-child {
    margin-bottom: 64px;
  }
}

.contacts__tel_acc {
  color: var(--acc-col);
}

.modal-menu__social-network-list {
  display: flex;
  flex-wrap: wrap;
}

.modal-menu__social-network-item {
  padding: 0px 10px;
  margin-bottom: 10px;

  &:first-child {
    padding-left: 0px;
  }

  &:last-child {
    padding-right: 0px;
  }

  &:not(:last-child) {
    border-right: 1px solid var(--modal-border-col);
  }
}

.modal-menu__social-network-link {
  font-weight: 500;
  @include font-line(18px, 22px);
  letter-spacing: 0.02em;
  color: var(--acc-col);
}
