.services {
  padding-top: 0;
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.services__descr-box {
  width: 100%;
  height: 70px;
  padding: 27px 0;
  position: absolute;
  bottom: 0;

  pointer-events: none;

  color: var(--hero-col);
  background-color: var(--whatwedo-bcg-col);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
