.close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 30px;
  height: 30px;
  padding: 0px;

  background-color: var(--card-bcg-col);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--acc-col);
  }
}

.close-button__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;

  padding: 40px;
}

.contact-form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.contact-form__input-label {
  margin-bottom: 4px;

  color: var(--alt-col);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form__input-icon {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: none;
}

.contact-form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;

  outline: none;
  border: 1px solid var(--modal-border-col);
  border-radius: 4px;

  font-size: 16px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--acc-col);
  }

  &:focus + .contact-form__svg {
    fill: var(--acc-col);
  }
}

.contact-form__textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 16px 12px;

  outline: none;
  border: 1px solid var(--modal-border-col);
  border-radius: 4px;
  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--acc-col);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--modal-plhold-col);
  }
}

.contact-form__checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--alt-col);

  .terms {
    color: var(--acc-col);
  }
}

.contact-form__fake-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--m-col);
  border-radius: 2px;

  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
  }
}

.contact-form__checkbox {
  &:checked + .contact-form__fake-checkbox {
    background-color: var(--acc-col);

    border-color: transparent;

    background-image: url(../imagies/svgicons/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &:focus + .contact-form__fake-checkbox {
    border-color: var(--acc-col);
  }
}

.contact-form__submit {
  min-width: 200px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;
}
.contact-form__checkbox_visually-hiden {
  @extend %visually-hiden;
}
