.link,
.btn,
.filter-list__item,
.card {
  transition-property: color, background-color, box-shadow, fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
