:root {
    --m-bcg-col: #fff;
    --alt-bcg-col: #f5f4fa;
    --whatwedo-bcg-col: rgba(47, 48, 58, 0.8);
    --f-bcg-col: #2f303a;
    --m-col: #212121;
    --alt-col: #757575;
    --acc-col: #2196f3;
    --logo-h-col: #000000;
    --logo-f-col: #fff;
    --hero-col: #fff;
    --btn-alt-col: #fff;
    --btn-hover-bcg-col: #188ce8;
    --foot-alph-col: rgba(255, 255, 255, 0.6);
    --card-bcg-col: #fff;
    --card-border-col: #eee;
    --card-over-bcg-col: rgba(33, 150, 243, 0.9);
    --header-border-col: #ececec;
    --icon-fill: #afb1b8;
    --backdrop-bcg-col: rgba(0, 0, 0, 0.2);
    --modal-border-col: rgba(33, 33, 33, 0.2);
    --modal-plhold-col: rgba(117, 117, 117, 0.5);
    --join-us-bcg-col: rgba(255, 255, 255, 0.3);
}